.example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('../../assets/img/header_camel.png');
    background-size: cover;
  }

  .main-image {
    height: 200px;
    width: 200px;
  }
  