<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Perl</mat-card-title>
      <mat-card-subtitle>Modern Perl</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="main-image" src="../../assets/img/header_camel.png" alt="Perl Camel">
    <mat-card-content>
      <p>
        Perl is alive and well.  This tutorial covers working in Perl using modern object-oriented perl and TDD/BDD.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>TUTORIAL</button>
    </mat-card-actions>
  </mat-card>
  